# Logs y archivos temporales
*.log
*.gz
logs/
crash-reports/
debug/

# Excluir Dynmap (es enorme y se regenera)
dynmap/
web/

# (Opcional) Si el mundo es MUY gigante (más de 1GB), git fallará. 
# Pero para empezar está bien incluirlo.
# world/
# world_nether/
# world_the_end/

# Archivos de sesión y caché
session.lock
user_jvm_args.txt
.mixin.out/
.cache/

# Backups locales
backups/
*.zip
*.tar

# Sistema
.DS_Store
