services:
  mc:
    image: itzg/minecraft-server
    container_name: mc-server
    ports:
      - "25565:25565"
    environment:
      # Aceptamos el contrato de Mojang
      EULA: "TRUE"
      
      # Tipo de Servidor (Forge)
      TYPE: "FORGE"
      VERSION: "1.20.1"
      FORGE_VERSION: "47.2.0"
      
      # Configuración de rendimiento (3GB para un VPS de 4GB)
      MEMORY: "3072M"
      JVM_OPTS: "-XX:+UseG1GC -XX:+ParallelRefProcEnabled -XX:MaxGCPauseMillis=200 -XX:+UnlockExperimentalVMOptions -XX:+DisableExplicitGC -XX:+AlwaysPreTouch -XX:G1NewSizePercent=30 -XX:G1MaxNewSizePercent=40 -XX:G1HeapRegionSize=8M -XX:G1ReservePercent=20 -XX:G1HeapWastePercent=5 -XX:G1MixedGCCountTarget=4 -XX:InitiatingHeapOccupancyPercent=15 -XX:G1MixedGCLiveThresholdPercent=90 -XX:G1RSetUpdatingPauseTimePercent=5 -XX:SurvivorRatio=32 -XX:+PerfDisableSharedMem -XX:MaxTenuringThreshold=1"
      
      # Configuración de Juego
      DIFFICULTY: "normal"
      MAX_PLAYERS: "20"
      ONLINE_MODE: "FALSE"  # Importante: Permite entrar sin cuenta premium (necesario para tu caso)
      
    volumes:
      - ./data:/data
    
    restart: always

# Para gestionar esto localmente:
# 1. Pon tus mods en la carpeta ./data/mods
# 2. Configura tu properties en ./data/server.properties
# 3. Sube cambios a GitHub y el servidor se actualizará.
